.full-details .details-picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

}

.full-details {
    height: auto;
    margin: 0 auto;
}

.details-picture img {
    /* border: 2px solid blue; */
    box-shadow: -3px -1px 18px 7px rgb(38, 38, 42);
    border-radius: 4px;
}

.details-blg {
    box-shadow: -3px -1px 18px 7px rgba(212, 212, 218, 1);
    width: 60%;
    margin: 0px auto;
    border-radius: 5px;

}

.details-blg p {
    padding: 25px;
}

@media only screen and (min-width:0px) and (max-width:700px) {
    .full-details .details-picture {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .details-picture img {
        padding: 6px;


    }
}

.link-div {

    box-shadow: -3px -1px 18px 7px rgba(212, 212, 218, 1);
    width: 60%;
    margin: 0px auto;
    border-radius: 5px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.link-div a {
    /* box-shadow: -3px -1px 18px 7px rgb(136, 136, 143); */
    /* border: 1px solid red; */
    /* background-color: #F46258; */
    margin: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
    /* border-radius: 5px; */
}
/* .link-div a:hover{
    border: 1px solid #F46258;
    background-color: red;
} */
@media only screen and (min-width:0px) and (max-width:960px){
    .link-div{
     
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link-div a{
        
    }

}
@media only screen and (min-width:0px) and (max-width:690px){
    .link-div{
        width: 100%;
      margin: auto 0 0 auto;
      flex-direction: column;
    }
    .details-blg {
        width: 100%;
       
    }
   
    .full-details .h1-details{
        
        padding: 20px;
        padding-bottom: 30px;
        font-size: 35px;
    }
}
@media only screen and (min-width:0px) and (max-width:690px){

}