.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
    margin-top: 25px;
}
.projects-container .project{
    height: 320px;
    width: 250px;
    /* background-color: white; */
   
    box-shadow: -3px -1px 18px 7px rgba(212,212,218,1);
    margin: 0 auto;
}
.projects-container .project .img-container{
   
    height: 150px;
}
.img-container img{
    height: 100%;
    width: 100%;
}
.project-blg{
    margin: 10px;
}
.project-blg h2{
    font-size: 18px;
    font-weight: 700;
}
.Live-preview-btn{
    background-color: #F46258;
    padding: 10px;
    display: block;
    width: 50%;
    margin: 5px auto;
    font-weight: 600;
    border-radius: 5px;
    line-height: 1;
}