.contractMe-container {
    height: 720px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
}

.contractMe-container .text-container {
    border: 1px solid red;
    /* width: 359.7px;
    height: 304.79px; */
    width: 300px;
    height: 250px;
    margin-top: 50px;

}

.contractMe-container .form-container {
    /* border: 1px solid blue; */
    /* width: 530px;
    height: 515.05px; */
    width: 450px;
    
}

.contractMe-container .form-container form {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr;
}

.contractMe-container .form-container form input {
   
    margin: 18px 0;
    background-color: #F3F3F3;
    border-radius: 5px;
    outline: none;
}
input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    margin-top: 0;
    position: absolute;
    top: 5px;
    left: 16px;
    color: red;
}
